<html>
<head>
  <title>Gerador de Nomes</title>
</head>

<link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>

<style>
  a:hover {text-decoration: none;}
  ul {list-style-type: none;}
  #play_control {cursor: pointer;}
</style>


<body class="sans-serif bg-yellow">

  <article class="vh-100 dt w-100">
    <div class="dtc v-mid tc ph3 ph4-l">
      <h1 class="f-subheadline-l lh-solid-l lh-title-ns tc"><span id="nome1"></span> <span id="apelido1"></span> <span id="apelido2"></span></h1>
      <p>Nomes portugueses aleatórios gerados a partir de <%= @nomes_count %> <a href="https://github.com/centraldedados/nomes_proprios" target="_blank" class="dark-blue">nomes próprios</a> e <%= @apelidos_count %> <a href="https://github.com/centraldedados/apelidos" target="_blank" class="dark-blue">apelidos</a>.</p>
      <p class="f3 dark-gray"><span id="play_control">&#9658;</span>
    </div>
  </article>


<script type="text/javascript">

  // Get the random name
  function getNomeAleatorio() {

    let url = '/nome_aleatorio';

    fetch(url)
    .then(res => res.json())
    .then((out) => {
      document.getElementById("nome1").textContent=out[0];
      document.getElementById("apelido1").textContent=out[2];
      document.getElementById("apelido2").textContent=out[3];
    })
    .catch(err => { throw err });
  }

  // Play functionality
  var play;

  function startPlay() {
    play = setInterval(getNomeAleatorio, 3000);
  }

  function stopPlay() {
    clearTimeout(play);
  }

  // On Page load
  (function() {

    // Get the first random name
    getNomeAleatorio();

    // Play controls click
    document.getElementById('play_control').onclick=function(){
      if (this.innerHTML == "►") {
        //console.log('play')
        getNomeAleatorio();
        startPlay();
        this.innerHTML = "&#10074;&#10074;"
      } else {
        //console.log('pause')
        stopPlay();
        this.innerHTML = "&#9658;"
      }
    }


  })();

</script>


<body>
</html>