<!DOCTYPE html>

<html lang="pt">
<head>
  <title>Gerador de Nomes</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>

  <style>
    a:hover {text-decoration: none;}
    ul {list-style-type: none;}
    #play_control {cursor: pointer;}
  </style>

</head>




<body class="sans-serif bg-yellow">

  <article class="vh-100 dt w-100">
    <div class="dtc v-mid tc ph3 ph4-l">
      <h1 class="f1 f-subheadline-l f-subheadline-m lh-solid-l lh-solid-m lh-solid-ns tc"><span id="nome1"></span> <span id="apelido1"></span> <span id="apelido2"></span></h1>
      <p class="mw7 center f5 lh-copy mb2">Nomes portugueses aleatórios gerados de <%= @nomes_count %> <a href="https://github.com/centraldedados/nomes_proprios" target="_blank" class="black">nomes próprios</a>* e <%= @apelidos_count %> <a href="https://github.com/centraldedados/apelidos" target="_blank" class="black">apelidos</a>.</p>
      <p class="f7 near-dark lh-solid mt0">* nomes próprios de recém-nascidos em 2016, com 2 ou mais registos</p>
      <p class="f4 dark-gray"><span id="play_control">&#10074;&#10074;</span>
    </div>
  </article>


<script>

  // Get the random name
  function getNomeAleatorio() {

    let url = '/nome/aleatorio';

    fetch(url)
    .then(res => res.json())
    .then((out) => {
      document.getElementById("nome1").textContent=out[0];
      document.getElementById("apelido1").textContent=out[1];
      document.getElementById("apelido2").textContent=out[2];
    })
    .catch(err => { throw err });
  }

  // Play functionality
  var play;

  function startPlay() {
    play = setInterval(getNomeAleatorio, 3000);
  }

  function pausePlay() {
    clearTimeout(play);
  }

  // On Page load
  (function() {

    // Get the first random name
    getNomeAleatorio();

    // Being playing
    startPlay();

    // Play controls click
    document.getElementById('play_control').onclick=function(){
      if (this.innerHTML == "►") {
        //console.log('play')
        getNomeAleatorio();
        startPlay();
        this.innerHTML = "&#10074;&#10074;"
      } else {
        //console.log('pause')
        pausePlay();
        this.innerHTML = "&#9658;"
      }
    }


  })();

</script>


</body>
</html>