<!DOCTYPE html>

<html lang="pt">
<head>
  <title>Gerador de Nomes</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <!-- OG --> 
  <meta property="og:title" content="Gerador de Nomes">
  <meta property="og:site_name" content="Gerador de Nomes">
  <meta property="og:url" content="https://gerador-nomes.herokuapp.com">
  <meta property="og:description" content="Nomes portugueses aleatórios gerados a partir de nomes próprios e apelidos.">
  <meta property="og:type" content="article">
  <meta property="og:image" content="/img/facebook_preview.png">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:url" content="https://gerador-nomes.herokuapp.com" />
  <meta name="twitter:title" content="Gerador de Nomes" />
  <meta name="twitter:description" content="Nomes portugueses aleatórios gerados a partir de nomes próprios e apelidos." />
  <meta name="twitter:image" content="/img/twitter_preview.png" />

  <link rel="stylesheet" href="/css/<%= Sinatra::Application.environment.to_s == "development" ? "src/" : "" %>tachyons.min.css"/>

  <style>
    a:hover {text-decoration: none;}
    ul {list-style-type: none;}
    #play_control, .navigation {cursor: pointer;}
    #previous_control {margin-right: 1.5em;}
    #next_control {margin-left: 1.5em;}
    .disabled {opacity: 0.1; cursor: default;}
    .hide {display: none;}
  </style>

</head>




<body class="sans-serif bg-yellow">

  <article class="vh-100 dt w-100">
    <div class="dtc v-mid tc ph3 ph4-l">
      <h1 class="f1 f-subheadline-l f-subheadline-m lh-solid-l lh-solid-m lh-solid-ns tc"><span id="nome1"></span> <span id="apelido1"></span> <span id="apelido2"></span></h1>
      <p class="mw7 center f5 lh-copy mb2">Nomes portugueses aleatórios gerados de <%= @nomes_count %> <a href="https://github.com/centraldedados/nomes_proprios" target="_blank" class="black">nomes próprios</a>* e <%= @apelidos_count %> <a href="https://github.com/centraldedados/apelidos" target="_blank" class="black">apelidos</a>.</p>
      <p class="f7 near-dark lh-solid mt0">* nomes próprios de recém-nascidos em 2016, com 2 ou mais registos</p>
      <p class="f2 dark-gray">
        <span id="previous_control" class="f3 navigation hide">&#8592;</span>
        <span id="play_control">&#10074;&#10074;</span>
        <span id="next_control" class="f3 navigation disabled hide">&#8594;</span>
      </p>
    </div>
    <div class="fixed left-0 bottom-2 right-0 tc">
      <a href="https://github.com/joao/gerador-nomes#api" class="f7 black">API</a>
    </div>
  </article>


<script>

  // Setup
  var play_interval;

  // Get a random name
  function getNomeAleatorio() {

    let url = '/nome/aleatorio';

    fetch(url)
    .then(res => res.json())
    .then((out) => {
      // Refresh Display
      refreshDisplay(out[0], out[1], out[2])
    })
    .catch(err => { throw err });
  }

  // Refresh Display
  function refreshDisplay(nome, apelido1, apelido2) {
    document.getElementById("nome1").textContent = nome
    document.getElementById("apelido1").textContent = apelido1
    document.getElementById("apelido2").textContent = apelido2
  }


  // Start Play
  function play() {
    play_interval = setInterval(getNomeAleatorio, 3000);
  }

  // Pause Play
  function pause() {
    clearTimeout(play_interval);
  }

  // Enable controls
  function enableControls() {

    // Play/Pause control
    document.getElementById('play_control').onclick=function(){
      if (this.innerHTML == "►") {
        getNomeAleatorio();
        play();
        this.innerHTML = "&#10074;&#10074;"
      } else {
        pause();
        this.innerHTML = "&#9658;"
      }
    }
  }

  // On Page load
  (function() {

    getNomeAleatorio();
    play();
    enableControls();

  })();

</script>


</body>
</html>